*{
    margin: 0;
    padding: 0;
}
body{
    height: 2000px;
}
a{
    text-decoration: none;
}
#header{
    height: 100px;
    background: #ffffff;
    display: -webkit-box;
    width: 100%;
}
#menu{
    -webkit-box-flex: 5;
    padding: 30px 0 0 37px;
    width: 0;
}
#menu img{
    display: block;
}
#menu span{
    font-size: 12px;
    letter-spacing: 0.5px;
    margin-left:2px;
}
#logo{
    -webkit-box-flex: 2;
    text-align: center;
    padding:15px 0 ;
    width: 0;
}
#logo img{
    width: 73px;
}
#login{
    -webkit-box-flex: 5;
    text-align: right;
    padding-right: 30px;
    color:#4e4e4e;
    font-size: 16px;
    padding-top: 20px;
    width: 0;
}
#login a{
    color: #b89f7a;
    font-weight: 700;
    font-size: 14px;
}
#banner{
    position: relative;
}
#banner img{
    width: 100%;
    display: block;
}
#banner span{
    background: #b89f7a;
    width: 106px;
    height: 52px;
    color: #ffffff;
    text-align: center;
    line-height: 52px;
    display: block;
    position: absolute;
    bottom: 15px;
    right: 29%;
}
#banner .banner2{
    display: none;
}
#rewards-box{
    background: #000000;
}
#rewards{
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0 50px 0;
}
#rewards-mark{
    width: 350px;
    padding-left: 90px;
    float: left;

}
#rewards-mark p{
    font-size: 18px;
    color:#fff;
    margin-top: 30px;
}

#rewards-content{
    width: 430px;
    float: left;
}
.con-title{
    font-size: 25px;
    color: #fff;
}
.con-txt{
    font-size: 16px;
    color: #fff;
}
.con-btns{
    margin-top:15px;
}
.con-btns .login-btn,.con-btns .register-btn{
    width: 106px;
    height: 46px;
    border:2px solid #a98e67;
    color:#a98e67;
    line-height: 46px;
    text-align: center;
    display: inline-block;

}
.con-btns .login-btn:hover,.con-btns .register-btn:hover{
    color: #fff;
    background: #a98e67;
}


.con-btns .login-btn{
    margin-right: 10px;
}
.con-btns .more-btn{
    margin-left:30px;
    color: #a98e67;
    font-size: 14px;
}
#app{
    background: url("img/app_bg.gif") 0 center repeat;
}
.app1{
    overflow: hidden;
}
.app-device{
    float: left;
    width: 35%;
    height: 215px;
    background: url("img/app_device.png") center center no-repeat;
    background-size: contain;
}
.app-download{
    float: left;
    width: 20%;
    margin-top:15px;
    text-align: center;
}
.app-download img{
    width: 130px;
    height: 130px;
}
.app-content{
    float: left;
    width: 45%;
    margin-top:45px;
}
.app-content p{
    font-size: 25px;
    color: #3d3d3d;
}
.app-content a{
    color: #b89f7a;
    font-size: 14px;
}

@media screen and (max-width:991px){
    #banner .banner1{
        display: none;
    }
    #banner .banner2{
        display: block;
    }
    #banner span{
        bottom: 60px;
        right: 15px;
    }
}
@media screen and (max-width: 767px){
    #menu{
        padding-left: 15px;
    }
    #login{
        font-size: 12px;
        padding-right: 10px;
    }
    #rewards{
        width: 100%;
    }
    #rewards-mark,#rewards-content{
        float: none;
        width: 100%;
    }
    #rewards-mark{
        padding-left: 0;
        text-align: center;
        margin-bottom: 50px;
    }
    #rewards-mark img{
        width: 160px;
    }
    #rewards-content{
        text-align: center;
    }
    .con-btns .login-btn, .con-btns .register-btn,.con-btns .more-btn{
        display: block;
    }
    .con-btns .login-btn, .con-btns .register-btn{
        width: 70%;
        margin: 0 auto;
    }
    .con-btns .register-btn{
        margin:8px auto 20px ;
    }
    .con-btns .more-btn{
        text-align: right;
        margin-right: 35px;
    }
    .con-txt{
        margin: 10px 0 30px 0 ;
    }
}
@media screen and (max-width: 425px) {
    #logo{
        width: 0;
    }
    #logo img{
        width: 100%;
        /*height: 80%;*/
    }
}







