/*content 开始*/
#content{
	padding-top: 88px;
	margin-bottom: 15px;
}
#content .title{
	padding: 15px 0;
	color: #7c7c7c;
	height: 30px;
	line-height: 30px;
}
#content .title .glyphicon{
	font-size: 27px;
}
#content .title .company{
	font-size: 50%;
	color: #afafaf;
	font-style: italic;
	vertical-align: middle;
}
#slogan{
	background: #f4f4f4;
	height: 30px;
	line-height: 30px;
	padding: 15px;
	border: 1px solid #efefef;
	text-align: center;
	font-size: 21px;
    color: #7c7c7c;
    margin-bottom: 15px;
}
#user-list{
	overflow: hidden;
}
#user-list > li{
	width: 300px;
	height: 343px;
	padding: 4px;
    border: 1px solid #ddd;
    float: left;
    margin-right: 15px;
}
#user-list > li > img{
	width: 300px;
	height: 200px;
}
#user-list h3{
	font-family: 'Roboto Slab', sans-serif;
    margin: 0 0 5px;
    font-weight: 400;
    color: #4d4d4d;
    font-size: 17.5px;
    padding: 10px;
}
#user-list p{
	font-family: 'Roboto Slab', sans-serif;
    color: #7c7c7c;
    font-size: 13px;
    padding: 0 10px 10px;
}

#user-list .social{
	overflow: hidden;
	padding: 0 10px 10px;
}
#user-list .social li{
	display: inline-block;
	margin-right: 5px;
}
#user-list .social .glyphicon{
	font-size: 24px;
	color: #797979;
}
#user-list .social .selected .glyphicon{
	color: #e5412d;
}
.separator{
	height: 2px;
	background: #f4f4f4;
	margin: 20px 0;
	position: relative;	
	text-align: center;
}
.separator .glyphicon{
	font-size: 40px;
	position: absolute;
	top: 50%;
	margin-top: -18px;
	padding: 0 10px;
	background: #fff;
}






/*content 结束*/