#content{
	padding-top: 88px;
	overflow: hidden;
}
#title{
	font-size: 24px;
	color: #7c7c7c;
	margin: 15px 0;
}
#img-box{
	width: 310px;
	float: left;
}
#big-img{
	padding: 3px;
	border:1px solid #efefef;
}
#big-img img{
	width: 100%;
	display: block;
}
.line{
	text-align: center;
	position: relative;
	margin: 15px 0;
	clear: both;
}
.line::before{
	content: '';
	height: 2px;
	background: #f4f4f4;
	/*background: #f00;*/
	width: 100%;
	display: block;
	position: absolute;
	left:0;
	top:50%;
	margin-top: -1px;

}
.line span{
	color: #7c7c7c;
	font-size: 37px;
	background: #fff;
}
.small-img{

}
.small-img li{
	width: 60px;
	border: 1px solid #7c7c7c;
	padding: 5px;
	float: left;
	margin-right: 7px;
}
.small-img li:last-child{
	margin-right: 0px;

}
.small-img li img{
	width: 60px;
	display: block;
}

#info-box{
	width: 635px;
	float: right;
	overflow: hidden;
}
.product{
	width: 365px;
	float: left;
}
.p-title{
	color: #7c7c7c;
	font-size: 14px;
	margin-bottom: 5px;
	font-weight: bold;
}
.p-description{
	border:1px solid #efefef;
	background: #f4f4f4;
	padding: 15px;
	color:#7c7c7c;
	margin-bottom: 20px;
}

.price{
	width: 228px;
	float: right;
	border:1px solid #efefef;
	padding: 15px;
}
.price h1{
	font-size: 35px;
	line-height: 40px;
	color:#7c7c7c;
}
.price .incl{
	color: #d7d7d7;
	margin-bottom: 20px;
}
.price .select{
	color:#7c7c7c;
	font-weight: bold;
	margin-bottom: 10px;
}
.select-box{
	position: relative;
	background: #e8e8ee;
}
.select-box.selected{
	color: #fff;
	box-shadow:1px 1px 5px 3px rgba(0,0,0,0.15) inset;
}
.sel-btn{
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	position: relative;
}
.sel-btn p{
	overflow: hidden;
	width: 186px;
}
.sel-btn span{
	border:4px solid transparent;
	border-top:4px solid #747474;
	position: absolute;
	right: 10px;
	top:50%;
	margin-top:-2px;
}
.sel-menu{
	background: #fff;
	border:1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 5px 0;
	position: absolute;
	left:0;
	top:35px;
	z-index:1;

	display: none;
}
.sel-menu li{
	line-height: 26px;
	padding: 0 20px;
	color: #333333;
	width: 187px;
}
.sel-menu li:hover{
	background:#0081c2;
	color: #fff;
}
.price input{
	width: 218px;
	height: 30px;
	padding: 0 5px;
	color:#A7A7A7;
	outline: none;
}
.shop-share{
	text-align: right;
	line-height: 28px;
	height: 28px;
	margin: 15px 0;
	color:#7c7c7c

}
.shop-share .glyphicon{
	font-size: 24px;
}
.shop-share span{
	vertical-align: middle;

}


.tab-box{
	border: 1px solid #efefef;
}
.tab-box ul{
	border-bottom: 1px solid #efefef;
	/*overflow: hidden;*/
	height: 35px;
}
.tab-box ul li{
	float: left;
	height: 35px;
	line-height: 35px;
	padding: 0 15px;
	color: #7c7c7c;
	background: #fff;
	border-right: 1px solid #efefef;
}
.tab-box ul .active{
	color: #000;
	height: 36px;
	/*border-bottom: 1px solid #fff;*/
	/*position: relative;*/
}
.content-box div{
	display: none;
}
.content-box .active{
	display: block;
	position: relative;
}

.content-box .active span{
	font-size: 80px;
	float: right;
	/*position: absolute;
	right: 0;
	top:0;*/
}
/*html{
	position: relative;
}*/
/*弹层样式*/
.dialog-box{
	background: rgba(0,0,0,0.6);
	/*position: absolute;*/
	position: fixed;
	left:0;
	top:0;
	right: 0;
	bottom: 0;
	z-index:999;
	/*display: none;*/
}
.content{
	/*width: 423px;*/
	/*height: 498px;*/
	background: #fff;
	position: absolute;
	left:50%;
	top:50%;
	/*top:-249px;*/
	/*margin-left: -212px;*/
	/*margin-top: -249px;*/
	
}

@keyframes show{
	100%{
		top:50%;
	}
}
.dialog-title{
	height: 30px;
	background: #f4f4ff;
	border-bottom: 1px solid #efefef;
	/*text-align: right;*/
	line-height: 30px;

}
.dialog-title .title{
	margin-left: 20px;
}
.dialog-close{
	margin-right:8px;
	cursor: pointer;
	float: right;
}
.dialog-body{
	text-align: center;
	height: 406px;
}
.dialog-body img{
	width: 265px;
	height: 395px;
	margin:10px 0;
	position: absolute;
	left:80px;
	top:25px;
}
.dialog-prev,.dialog-next{
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.6);
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 30px;
	color:#fff;
	position: absolute;
	top:50%;
	margin-top:-20px;
}
.dialog-prev{
	left:95px;
}
.dialog-next{
	right:95px;
}
.dialog-btns{
	height: 40px;
	background: #f4f4ff;
	border-top: 1px solid #efefef;
	padding: 10px 15px;
}
.dialog-btns span{
	height: 30px;
	line-height: 30px;
	color:#fff;
	padding: 0 10px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
}
.prev-btn{
	background: #e5412d;
}
.next-btn{
	background: #5cc7dd;
}
.slide-btn{
	background: #609450;
}
.dialog-btns span.download-btn{
	background: #f5f5f5;
	color:#000;
	border:1px solid #cccccc;
}



@keyframes hide{
	100%{
		opacity: 0;
	}
}


















