/*样式重置*/
*{
	margin: 0;
	padding: 0;
}
ul, ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	border: 0;
}

/*通用样式 开始*/
body{
	font-size: 13px;
}
.wrapper{
	width: 960px;
	margin: 0 auto;
}
.arrow{
	width: 0;
	height: 0;
	border: 4px solid transparent;
	border-top-color: #bdbdbd;
	display: inline-block;
}
/*通用样式 结束*/

/*header 开始*/
#header{
	width: 100%;
	height: 88px;
	position: fixed;
	z-index: 1;
}
#top-nav{
	height: 30px;
	line-height: 30px;
	background: #f4f4f4;
	border-bottom: 1px solid #dbdbdb;
}
#top-nav .glyphicon-search{
	text-indent: 15px;
	color: #dbdbdb;
	font-size: 15px;
}
#top-nav .glyphicon-search:hover{
	color: #f00;
	cursor: pointer;/*鼠标变手形*/
}
#search-box{
	width: 48px;
	border-right: 1px solid #bdbdbd;
	float: left; 
}
#top-menu{
	height: 30px;
	float: right;
}
#top-menu li{
	float: left;
	margin-right: 5px;
}
#top-menu .follow-us{
	color: #dbdbdb;
}
#top-menu .follow-us:hover{
	color: #040404;
}
#top-menu .share a{
	font-size: 17px;
	color: #dbdbdb;
}
#top-menu .share a:hover{
	color: #f00;
}
#top-menu .btn{
	width: 82px;
	height: 30px;
	text-align: center;
	margin-right: 1px;
}
#top-menu .btn:hover{
	background: #f4f4f4;
}
#top-menu .btn:hover a{
	color: #040404;
}
#top-menu .btn:hover .glyphicon{
	color: #f00;
}
#top-menu .btn a{
	color: #fff;
}
#top-menu .login{
	background: #424242;
}
#top-menu .register{
	background: #e5412d;
}
#nav{
	height: 56px;
	line-height: 56px;
	border-bottom: 1px solid #bdbdbd;
	background: #fff;
}
#nav .logo{
	color: #e5412d;
	font-size: 36px;
	float: left;
}
#nav .nav-menu{
	float: right;
}
#nav .nav-menu > li{
	float: left;
	padding: 0 10px;
	position: relative;
}
/*#nav .nav-menu > li.menu-btn:hover .sub-menu{
	display: block;
	animation:show 3s ease forwards;
}*/
@keyframes show{
	10%{
		top:80px;
	}
	30%{
		top:90px;
	}
	50%{
		top:60px;
	}
	80%{
		top:70px;
	}
	100%{
		top:56px;
	}
}
#nav .nav-menu .sub-menu{
	background: #fff;
}
#nav .nav-menu a{
	font-size: 14px;
	color: #040404;
	font-weight: bold;
}
#nav .nav-menu .selected a{
	color: #e5412d;
}
#nav .sub-menu{
	width: 150px;
	position: absolute;
	top: 120px;
	border: 1px solid #bdbdbd;
	border-top: 0;
	display: none;
	/*opacity: 0;
	filter:alpha(opacity=0);*/
	/*transition:top 1s ease;*/
}
#nav .sub-menu li{
	line-height: 30px;
	padding: 0 10px;
}
#nav .sub-menu a{
	color: #bdbdbd;
}
/*header 结束*/

/*footer 开始*/
#footer{
	background: #1f2123;
	padding: 15px 0;
	overflow: hidden;
}
#footer .wrapper > div{
	float: left;
	text-align: center;
	margin-right: 10px;
}
#footer .quick-links{
	width: 148px;
}
#footer h3{
	font-size: 15px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 8px;
}
#footer .quick-links li, #footer .blog li{
	background: #191a1c;
    margin: 0 0 1px;
    line-height: 30px;
    height: 30px;
}
#footer .quick-links a, #footer .blog a{
	color: #e5412d;
	font-weight: bold;
}
#footer .about{
	width: 310px;
}
#footer .about p{
	background: #191a1c;
	color: #fff;
	line-height: 20px;
	padding: 15px;
}
#footer .blog{
	width: 230px;
}
#footer .contact{
	width: 230px;
}
#footer .contact li{
	color: #fff;
	text-align: left;
	height: 30px;
	line-height: 30px;
}
#footer .social{
	overflow: hidden;
}
#footer .social li{
	display: inline-block;
	margin-right: 5px;
}
#footer .social .glyphicon{
	font-size: 24px;
	color: #797979;
}
#footer .social .selected .glyphicon{
	color: #e5412d;
}
/*footer 结束*/









