<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">

    是否需要额外付费设施<input type="checkbox" v-model="aa">
    <ul>
        <li v-for="obj in facility">
            {{obj.name}} ({{obj.price}})
            <input type="checkbox" v-model="feeFacility" :value="obj">
        </li>
    </ul>

    订单费用信息
    <ul>
        <li v-for="val in feeFacility">
            {{val.name}} {{val.price}}
        </li>
    </ul>
    总金额:{{total}}
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            aa:false,
            feeFacility:[{name:'群力花园豪华型',price:400}]
        },
        computed:{
            total:function(){
                var t = 0;
                this.feeFacility.forEach(function(val){
                    t += val.price;
                });
                return t;
            },
            facility:function(){
                if(this.aa){
                    return [{name:'床',price:100},{name:'沙发',price:200},{name:'wifi',price:300}];
                }else{
                    this.feeFacility.splice(1);
                    return [];
                }
            }
        },
        methods:{
//            getFacility:function(){
//                if(this.aa){
//                    this.facility = [{name:'床',price:100},{name:'沙发',price:200},{name:'wifi',price:300}];
//                }else{
//                    this.facility.splice(0);
//                    this.feeFacility.splice(1);
//                }
//            }
//            add:function(obj){
//                //var obj = this.facility[index]
//                this.feeFacility.splice(1);
//                if(event.target.checked){
//                    obj.checked = true;
//                }else{
//                    obj.checked = false;
//                }
//                var _this = this;
//                this.facility.forEach(function(val){
//                    if(val.checked){
//                        _this.feeFacility.push(val);
//                    }
//                });
//
//            }
        }
    });
</script>
</body>
</html>