<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>

    </style>
</head>
<body>
<div id="app">
   <!--<template></template>-->
    是否需要额外付费设施:<input type="checkbox" @click="showFacility">
    <ul>
        <li v-for="obj in arr">
            {{obj.aa}} ({{obj.price}})
            <input type="checkbox" v-model="facility" :value="obj"/>
        </li>
    </ul>
    订单费用信息
    <ul>
        <li v-for="obj in facility">
            {{obj.name}} {{obj.price}}
        </li>
    </ul>
    总金额:{{total}}
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            arr:[],
            facility:[{aa:'群力花园豪华型',price:400}]
        },
        computed:{
            total:function(){
                var num =0;
                this.facility.forEach(function(val){
                    num += parseInt(val.price);
                });
                return num;
            }
        },
        methods:{
            showFacility:function(){
                if(event.target.checked){
                    this.arr = [{aa:'沙发',price:'100'},{aa:'床',price:'200'},{aa:'wifi',price:'20'}];
                }else{
                    this.arr.splice(0);
                    this.facility.splice(1);
                }
            }
        }

    });
</script>
</body>
</html>