<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .red{
            color: red;
        }
    </style>
</head>
<body>
<div id="app">
    <input type="text" v-model="msg" @keyup="filter"/><button @click="add">add</button>
    <ul>
        <li v-for="item in showItems" :class="{red:item.active}" @click="item.active=!item.active">{{item.val}}</li>
    </ul>
</div>
<script src="vue.js"></script>
<script>
   var vm = new Vue({
        el:"#app",
        data:{
            msg:'',
            items:[],
            showItems:[]
        },
        methods:{
            add: function () {
                if(this.msg != ''){
                    this.items.push({val:this.msg,active:false});
//                    this.items.push([this.msg,false]);

                    this.msg = '';
                    this.items.sort(function(a,b){
                        return a.val > b.val;
                    });
                    this.showItems = this.items;
                }
            },
            filter:function(){
                var _msg = this.msg;
                var arr = this.items.filter(function(obj){
                    return obj.val.indexOf(_msg) > -1
                });
                this.showItems = arr;
            }
            //abcd.indexOf('bc'); // 1    -1
            //变异方法

        }
    });
</script>
</body>
</html>