<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .red{
            width: 200px;
            height: 200px;
            background: red;
        }
        .font-size{
            width: 200px;
            height: 200px;
            font-size: 40px;
        }
    </style>
</head>
<body>
<div id="app">
    <ul>
        <!--<li v-for="(val,aa) in arr" v-text="val+','+aa"></li>-->
        <!--<li v-for="(val,key,bb) in obj">{{val}},{{key}},{{bb}}</li>-->
        <li v-for="n in 10">{{n}}</li>
    </ul>
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            arr:[1,2,3,4,5,6],
            obj:{
                name:'zs',
                age:100,
                sex:'男女'
            }
        },
        methods:{

        }
    });



</script>
</body>
</html>